{% load static %}
<section class="bg-white" id="aboutus">
  <div class="container mx-auto py-16 px-4 sm:px-6 lg:px-8">
      <div class="grid grid-cols-1 md:grid-cols-2 items-center gap-8">
          <div class="max-w-lg">
              <h2 class="text-3xl font-bold text-gray-800 mb-8 text-center">About Us</h2>
              <p class="mt-4 text-gray-600 text-lg">
                Welcome to Student Planner, the all-in-one productivity app designed to help students stay organized, manage tasks efficiently, and achieve academic success. Whether you're juggling assignments, deadlines, or exams, our planner keeps you on track with a seamless and intuitive interface.<br/>
                Our mission is to empower students with the tools they need to enhance focus, improve time management, and reduce stress because planning your studies should be effortless!</p>
          </div>
          <div class="mt-12 md:mt-0">
              <img src="https://images.unsplash.com/photo-1531973576160-7125cd663d86" alt="About Us Image" class="object-cover rounded-lg shadow-md">
          </div>
      </div>
  </div>
</section>